/* src/Sd.css */
.sd-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 130vh;
  height: 80vh; /* Full height */
  background-color: #9cb053; /* Light background */
}

h1 {
  margin-bottom: 20px;
  color: #3f199f; /* Dark text color */
}

.sd-button-container {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Space between buttons */
}

.sd-button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #007bff; /* Bootstrap primary color */
  border: none;
  border-radius: 5px;
  text-decoration: none; /* Remove underline */
  text-align: center;
  transition: background-color 0.3s; /* Smooth transition */
}

.sd-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}
